page-home {
    ul {
        padding: 0px;
        margin-top: 10px;
        margin-left: -10px;
        &.rating li {
        background: none;
        color: #ffb400;
        ion-icon {
        font-size: 22px;
        }
        }
        }
        
        .meetplace{
            margin-top: 15px;
            margin-left: -40px;
        }
        .row{
            margin-top: -27px;
        }
}
