page-details {
    ul {
        padding: 0px 3px;
        margin-top: 13px;
        margin-left: -10px;
        &.rating li {
        background: none;
        color: #ffb400;
        ion-icon {
        font-size: 17px;
        }
        }
        }
    ul.rating[_ngcontent-c0] li[_ngcontent-c0] {
            display: inline;
            border: 0px;
            background: none;
            padding: 0px 3px;
        }
    
    ion-textarea {
    //border-bottom: 1px solid #000000;
    margin: 0px 5px;
    //-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    p {
    text-align: justify;
    }
    .comment-box {
    overflow: scroll;
    height: auto;
    }
    .footer{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .meetplace{
        margin-top: 15px;
        margin-left: -40px;
    }
    .row{
        margin-top: -27px;
    }
    }