
<ion-header>

  <ion-navbar>
  <ion-title>Tour details</ion-title>
  </ion-navbar>
  
  </ion-header>

  <ion-content class="cards-bg">

 <img src="assets/imgs/dakak.png"/>
    
      <ion-list>
        <ion-item *ngFor="let item of activeToursDetails">
           
            <ion-card>

                <ion-item>
                    <ion-row class="top_row">
                        <ion-col>
                          <h2>{{item.username}}</h2>
                          <p>Created by</p>
                        </ion-col>
                        <ion-col>
                            <rating [(ngModel)]="rate" float-right
                            readOnly="true"
                            max="5"
                            emptyStarIconName="star-outline"
                            halfStarIconName="star-half"
                            starIconName="star"
                            nullable="false"
                            (ngModelChange)="onModelChange($event)">
                            </rating>
                          </ion-col>
                    </ion-row>
                </ion-item>

              <ion-card-content>
      
                  <ion-card-title>
                      <ion-row>
                          <ion-col>
                             {{item.title}}
                            </ion-col>
                            <ion-col>
                              <button ion-button clear large float-right class="price">₱{{item.tour_price}}</button>
                              </ion-col>
                          </ion-row>
                  </ion-card-title>
               
                <div class="item-body">
                  <p>
                    {{item.desc}}
                  </p>
                </div>
      
                <br>
                
                <ion-grid> 
                  <ion-row class="row">
                      <ion-col col-4>
                              <div class="card-subtitle"><ion-badge color="light">Tour date</ion-badge></div>
                      </ion-col>
                      <ion-col col-6>
                          <div class="card-subtitle"><button ion-button clear color="primary"><button ion-button small clear class="color">{{item.tour_date}}  {{item.tour_time}}</button></button></div>
                      </ion-col>
                  </ion-row>
                  <ion-row class="row">
                    <ion-col col-4>
                          <div class="card-subtitle"><ion-badge color="light">Price</ion-badge></div>
                    </ion-col>
                    <ion-col col-6>
                          <div class="card-subtitle"><button ion-button clear color="primary"><button ion-button small clear class="color">₱{{item.tour_price}}</button></button></div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="row">
                      <ion-col col-4>
                            <div class="card-subtitle"><ion-badge color="light">Meet place</ion-badge></div>
                      </ion-col>
                      <ion-col col-6>
                            <div class="card-subtitle"><button ion-button clear color="primary"></button></div>
                      </ion-col>
                    </ion-row><br>
                    <ion-row>
                      <button ion-button small clear color="dark">{{item.meetup_place}}</button>
                    </ion-row>
                </ion-grid>
          </ion-card-content>
        </ion-card>
      

  <ion-card-content>
  <ion-list>
  <ion-badge float-right>{{item.part_count}}</ion-badge>
  <ion-badge float-right color="light"> of </ion-badge>
  <ion-badge float-right>1</ion-badge>
  <ion-card-title>
  Participants
  </ion-card-title>
  <ion-item>
  <ion-avatar item-start>
  <img src="assets/imgs/iz.jpg">
  </ion-avatar>
  <h2>ITechnology</h2>
  </ion-item>
  </ion-list>

  <ion-col text-right>
      <button ion-button full small class="booknow" (click)="booknow()" icon-start>
      <ion-icon ios="ios-book"></ion-icon>
        Book now
      </button>
      </ion-col>

  </ion-card-content>
  </ion-item>
</ion-list>
</ion-content>
<!--
  <div class="comment-box">
  <ion-card *ngFor="let comment of comments">
  <ion-card-content>
  <strong>{{comment.message}}</strong>
  <p>
  {{comment.timeStamp | date : 'H:mm a'}}
  </p>
  </ion-card-content>
  </ion-card>
  </div>
  <ion-card padding>
  <ion-textarea [(ngModel)]="message" type="text" placeholder="Comment .... " oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></ion-textarea>
  <button ion-button small float-right round>
  <ion-icon ios="md-chatboxes"></ion-icon>
  </button>
  </ion-card>
    -->


  
  
  