<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Tour</ion-title>

      <button ion-button clear large float-right (click)="logout()" color="danger" icon-start class="logout">
        <ion-icon ios="md-log-out"></ion-icon>
      </button>

  </ion-navbar>

</ion-header>

<ion-content padding>
	<div><!--*ngIf="this.loggedinuser else notLoggedin"-->
		<form #f="ngForm" (ngSubmit)="saveTour(f)" novalidate>
			<ion-list>
				<ion-item>
					<ion-label floating>Tour Title</ion-label>
					<ion-textarea type="text" id="title" name="title" [(ngModel)]="title" rows="2"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label floating>Tour Description</ion-label>
					<ion-textarea type="text" id="description" name="description" [(ngModel)]="description" rows="4"></ion-textarea>
				</ion-item>

				<ion-item>
					<ion-label floating>Tour Date</ion-label>
					<ion-datetime name="tour_date" displayFormat="MMM DD YYYY" [(ngModel)]="tour_date"></ion-datetime>
				</ion-item>

				<ion-item>
					<ion-label floating>Destination</ion-label>
					<ion-input name="destination" [(ngModel)]="destination"></ion-input>
				</ion-item>
				<br/>
				<ion-item>
					<ion-input type="hidden" hidden="hidden" name="user_id" [(ngModel)]="user_id" hidden></ion-input>
					<ion-input type="text" hidden="hidden" name="tour_image" [(ngModel)]="tour_image"></ion-input>
				</ion-item>
				<ion-item>
			   <div *ngIf="!isSelected" style="height: 50px;">
				   <br/>
				  <input
					type="file"
					id="file"
					(change)="selectFileToUpload($event)"/>
			   </div>

			   <div *ngIf="isSelected">
				   	<div>
						<br/><br/>
						<img [src]="smallImg">
					</div>
					<br/>
					<button
						ion-button
						color="primary"
						(click)="uploadFile()">Save
					</button>

				</div>
				</ion-item>
				<!-- <button ion-button type="submit">Save</button> -->
			</ion-list>
		</form>
		</div>

	<!--<ng-template #notLoggedin>
		<span>please login: user not logged in</span>
    </ng-template>-->
    
</ion-content>

